.wrapper {
  position: relative;
  padding-bottom: 1rem;
}

.card {
  background-color: var(--Primrfarger-Sand);
  border-radius: 1rem;
  padding: 1.5rem;
}

.card__visible {
  display: inline;
}

.card__hidden {
  display: none;
}
