.bar__wrapper {
  position: relative;
  height: 22px;
  width: 100%;
}

.bar__highest,
.bar__lowest,
.bar__company {
  border-radius: 0.25rem;
  position: absolute;
  height: 22px;
  left: 0;
  bottom: 0;
}

.bar__highest {
  z-index: 0;
  background-color: var(--Nytrale-farger-Lys-gr);
}

.bar__lowest {
  z-index: 2;
  background-color: var(--Primrfarger-Frost);
}

.bar__company {
  z-index: 1;
  background-color: var(--Primrfarger-Fjell);
}
