@font-face {
  font-family: "SpareBank 1 Title";
  src: url("/fonts/SpareBank1Title-Medium-Web.woff");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Regular.ttf");
}

:root {
  /* Colors */

  /* Primrfarger */
  --Primrfarger-Vann: #005aa4;
  --Primrfarger-Vann-70: #4d8cbf;
  --Primrfarger-Vann-30: #b3cee4;

  --Primrfarger-Fjell: #002776;
  --Primrfarger-Fjell-70: #4d689f;
  --Primrfarger-Fjell-30: #b3bed6;

  --Primrfarger-Frost: #7eb5d2;
  --Primrfarger-Frost-70: #a5cbe0;
  --Primrfarger-Frost-30: #d8e9f2;

  --Primrfarger-Sand: #f8e9dd;
  --Primrfarger-Sand-70: #faf0e7;
  --Primrfarger-Sand-30: #fdf8f5;

  --Primrfarger-Syrin: #d3d3ea;
  --Primrfarger-Syrin-70: #e0e0f0;
  --Primrfarger-Syrin-30: #f2f2f9;

  /* Stttefarger */
  --Stttefarger-Myrull: #fae4e0;
  --Stttefarger-Myrull-70: #fcece9;
  --Stttefarger-Myrull-30: #fef7f6;

  --Stttefarger-Villblomst: #ee8d9c;
  --Stttefarger-Villblomst-70: #f3afba;
  --Stttefarger-Villblomst-30: #fadde1;

  --Stttefarger-Nordlys: #33af85;
  --Stttefarger-Nordlys-70: #70c7aa;
  --Stttefarger-Nordlys-30: #c2e7da;

  --Stttefarger-Lyng: #873953;
  --Stttefarger-Lyng-70: #ab7487;
  --Stttefarger-Lyng-30: #dbc4cb;

  --Stttefarger-Baer: #e44244;
  --Stttefarger-Baer-70: #ec7b7c;
  --Stttefarger-Baer-30: #f7c6c7;

  --Stttefarger-Skog: #00754e;
  --Stttefarger-Skog-70: #4d9e83;
  --Stttefarger-Skog-30: #b3d6ca;

  --Stttefarger-Multe: #f8b181;
  --Stttefarger-Multe-70: #fac8a7;
  --Stttefarger-Multe-30: #fde8d9;

  --Stttefarger-Sol: #dc8000;
  --Stttefarger-Sol-70: #e7a64d;
  --Stttefarger-Sol-30: #f5d9b3;

  --Nytrale-farger-Natt: #001032;
  --Nytrale-farger-Svart: #020a0a;
  --Nytrale-farger-Koksgr: #323232;
  --Nytrale-farger-Mrk-gr: #676767;
  --Nytrale-farger-Mrk-Varmgr: #848383;
  --Nytrale-farger-Gr: #adadad;
  --Nytrale-farger-Varmgr: #9b9797;
  --Nytrale-farger-Lys-varmgr: #d7d2cb;
  --Nytrale-farger-Lys-gr: #d8d8d8;
  --Nytrale-farger-Hvit: #ffffff;
}

/* Font style */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Primrfarger-Fjell, #002776);
  margin: 0;
}

/* Mobile */

h1,
h2 {
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: "SpareBank 1 Title";
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-style: normal;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 1.0625rem;
  line-height: 1.25rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.25rem;
}

#lead {
  color: var(--Primrfarger-Fjell);
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

/* Body */
p {
  margin: 0;
  padding: 0;

  color: var(--Nytrale-farger-Svart, #020a0a);
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

@media (min-width: 767px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  h3 {
    font-size: 1.6875rem;
    line-height: 2.25rem;
  }

  h4 {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  #lead {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media (min-width: 1023px) {
    h1 {
      font-size: 2.875rem;
      line-height: 3.5rem;
    }

    h2 {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }

    h3 {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
  }
}
